/* Header*/
.img {
  padding-top: 10px;
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  padding: 15px 0;
}
.header_menu {
  text-align: left;
}
.header_menu ul li {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 40px;
  text-transform: uppercase;
  color: #0e101a;
  display: inline-block;
}

.header_menu ul li a {
  color: #000;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 12px;
  line-height: 10px;
  padding-bottom: 20px;
  font-weight: bold;
}
.container {
  display: flex;
  align-items: center;
}

.introducao {
  background-color: #3659b5;
  margin-top: 55px;
  padding: 30px;
}
.azul {
  display: flex;
  align-items: center;
  margin-left: 350px;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  padding-left: 20px;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-right: 20px;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 33px;
  font: bolder;
  margin-top: 50px;
  color: #2b2d38;
  text-align: center;
}
.button {
  padding: 10px 10px 10px 10px;
  background-color: #15c39a;
  color: white;
  font-size: 11px;
  letter-spacing: 0.8px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  border-radius: 18px;
}

.imagem {
  text-align: center;
  padding-top: 24px;
}
.search {
  padding-left: 709px;
}

.example {
  border: 1px solid;
  border-radius: 10px;
  border-color: #f0f0f0;
  padding: 5px;
}

.botao {
  background-color: white;
  border: none;
}

.input {
  border: none;
}
.fa {
  color: #676a7a;
}
.content {
  display: flex;
  justify-content: center;
}
